﻿@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IOrderService _orderServices
@inject IProductService _productServices
<div class="d-flex">
    @Html.Partial("_MenuPartial")
    <div class="conatiner w-100 px-5">
    <p class="fs-4 xl-1">Admin DashBoard</p>
        <ul class="list-unstyled row col">


            <li class=" col-md-3">
                <div class="admin-fd border bg-secondary p-5 shadow  rounded-3">
                    <p class="fs-5  text-center text-light">Total User</p>
                    <p class="fs-1 text-center text-light">@UserManager.Users.Count()</p>
                </div>
            </li>


            <li class=" col-md-3">
                <div class="admin-fd p-5 border bg-primary  shadow rounded-3">
                    <p class="fs-5 text-center text-light">Total Orders</p>
                    <p class="fs-1  text-center text-light">@_orderServices.GetNumberofOrder()</p>
                </div>
            </li>
            <li class=" col-md-3">
                <div class="admin-fd p-5 border shadow bg-black bg-opacity-75 rounded-3">
                    <p class="fs-5  text-center text-light">Total Products</p>
                    <p class="fs-1  text-center text-light">@_productServices.GetProducts().Count</p>
                </div>
            </li>
            <li class="col-md-3">
                <div class="admin-fd p-5 border shadow bg-warning rounded-3">
                    <p class="fs-5  text-center text-light">Pending orders</p>
                    <p class="fs-1  text-center text-light">@_orderServices.GetPendingOrders().Count</p>
                </div>
            </li>
        </ul>
</div>
</div>


    @if (TempData["ResultOk"] != null)
    {

        <dialog open>
            <form method="dialog">
                
                <h1 class="alert-success">@TempData["ResultOk"]</h1>
                <button type="submit">OK</button>
            </form>
        </dialog>

    

        
    }
   
    <script>

    </script>
