﻿@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IOrderService _orderServices
@inject IProductService _productServices
<div class="d-flex">
    @Html.Partial("_MenuPartial")
    <div class="conatiner">
    <p class="fs-4 xl-1">Admin DashBoard</p>
        <ul class="list-unstyled d-flex col-md-12">


            <li class="mx-4">
                <div class="admin-fd bg-light border shadow rounded-4">
                    <p class="fs-1">Total User</p>
                    <p class="fs-2 text-center">@UserManager.Users.Count()</p>
                </div>
            </li>


            <li class="mx-4">
                <div class="admin-fd border shadow">
                    <p class="fs-1">Total Orders</p>
                    <p class="fs-2  text-center">@_orderServices.GetNumberofOrder()</p>
                </div>
            </li>
            <li class="mx-4">
                <div class="admin-fd border shadow">
                    <p class="fs-1">Total Products</p>
                    <p class="fs-2  text-center">@_productServices.GetProducts().Count</p>
                </div>
            </li>
            <li class="mx-4">
                <div class="admin-fd border shadow">
                    <p class="fs-1">Pending orders</p>
                    <p class="fs-2  text-center">@_orderServices.GetPendingOrders().Count</p>
                </div>
            </li>
        </ul>
</div>
</div>


    @if (TempData["ResultOk"] != null)
    {

        <dialog open>
            <form method="dialog">
                
                <h1 class="alert-success">@TempData["ResultOk"]</h1>
                <button type="submit">OK</button>
            </form>
        </dialog>

    

        
    }
   

