@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject IShippingService _shippingservice
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Ecommerce.ViewModel.ViewOrderVM>
<script src="~/Scripts/PagedList/jquery.pagedList.js"></script>
<link rel="stylesheet" href="~/Content/PagedList.css" />
<div>
<h1>
    Your Orders
</h1>

<table class="table table-bordered table-striped ">
    <thead class="text-bg-dark">
        <tr>
        
            <th>
               OrderId
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Order Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="bg-white">
            @foreach (var obj in Model.OrderByDescending(u => u.dateTime))
    {
            <tr>
                <td>
                    @obj.OrderId
                </td>
                <td>
                    @obj.address<br>
                    @_shippingservice.Getshipping(obj.ShippingId).ShippingName<br>
                    @_shippingservice.Getshipping(obj.ShippingId).phonenumber
                </td>
                <td class="">
                    
                    @if (obj.status == "Not Delivered")
                    {
                    <div><img width="35" height="35" src="https://img.icons8.com/plumpy/24/successful-delivery.png" alt="successful-delivery" /></div>@obj.status
                    }
                    else if (obj.status == "delivered")
                    {
                        <img width="35" height="35" src="https://img.icons8.com/stickers/100/delivered-box.png" alt="delivered-box" /> <p>Order Delivered</p>
                    }
                    else
                    {
                        <img width="35" height="35" src="https://img.icons8.com/ios-filled/50/checked-truck.png" alt="checked-truck" />

                        <p>On the Way</p>
                    }
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="Order" asp-action="UserOrderItem" asp-route-orderId="@obj.OrderId">View Your Order</a>
                </td>
               
            </tr>
    }   
    </tbody>
</table>
<div class="col-md-12">
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination-container">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("UserOrder", new { page }))
        </div>
    </div>
</div>
</div>
<style>

    .pagination-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .pagination-container ul li {
            margin: 0 5px;
            padding: 0 10px;
            background: white;
            font-size: 25;
        }

            .pagination-container ul li a {
                color: black !important;
                text-decoration: none;
            }


        .pagination-container li.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        .pagination-container li:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }
</style>
