@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject ICartService cartservice
@inject ICart_ItemsService cart_temservice
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    bool isAdmin = false;
    bool isUser = false;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
            isUser = await UserManager.IsInRoleAsync(user, "User");

        }
    }
}

@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ViewProductVM>

<div class="text-center" >
    <div class="d-flex justify-content-between" >
        <form  method="get" class="d-flex w-100">
            <input class="form-control mr-sm-2 w-50" type="search" placeholder="Search By ProductName" aria-label="Search" name="searching">
            <button class="btn btn-outline-success my-2 my-sm-0 ms-5 " type="submit" >Search</button>
        </form>
       
        
             <a asp-controller="Cart" asp-action="ViewCart" asp-route-userid="@UserManager.GetUserId(User)">

                <button class="cart-button position-relative mx-4 p-2 btn border rounded-circle px-3">
            <span class="position-absolute">
                @cart_temservice.getCartItemQuantity(UserManager.GetUserId(User))
                
                </span>
            <img src="~/Product/cart.svg" />
            </button>
            </a>
      
        
        
     </div>
</div>
<div id="carouselExampleControls" class="carousel">
    <div class="carousel-inner">

            @if(Model.Count()==0)
            {
               <h1>No Match Found:</h1>
            }
        
             else 
             {
             @foreach (var obj in Model)
            {
                
                <div class="carousel-item active">
                <div class="card">
                    <div class="img-wrapper"><img src="@Url.Content($"~/Product/{obj.imageLink}")" class="d-block " alt="..."> </div>
                        
                        <a id="productDetailLink" asp-controller="Home" asp-action="ProductDetail" asp-route-id="@obj.ProductID" class="text-decoration-none">
                        <div class="card-body bg-gradient" style="cursor:pointer;" onclick="redirectToProductDetail()">
                    
                    <h5 class="card-title">@obj.ProductName</h5>
                    
                            @if (obj.ProductDescription.Length > 40)
                            {
                                <p class="card-text w-10 text-black">
                                  @obj.ProductDescription.Substring(0,20)..........     
                                </p>
                            }
                            else
                            {
                                <p class="card-text w-10">
                                    @obj.ProductDescription
                                </p>

                                
                            }

                    <div class="d-flex">
                    <p class="text-decorastion-underline text-success">Prize:@obj.SellPrice</p>
                   

                    </div>
                     


                </div>
                </a>
            </div>
            </div>
             
            }
            }
        
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
       
            
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



