@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@inject UserManager<User> UserManager
@model ReadProductVM;
<div class="container mt-2">
<div  class="btn btn-dark"><a asp-controller="Home" asp-action="Index">Back To Products</a></div>
<div class="container border border-3  rounded-3" style="background-color:azure">
<div class="row">
    <div class="col-4">
            <img src="@Url.Content($"~/Product/{Model.imageLink}")" alt="@Model.ProductName" class="img-fluid" style="height:400px; " />
    </div>
    <div class="col-4" style="background-color:azure">
        <div>   
            
        <h3 style="font-family:'Times New Roman', Times, serif">@Model.ProductName</h3>
             <h4>Description:</h4>
            @Model.ProductDescription
        </div>
        <div>
            <a>add</a>
        </div>
        
    </div>
    
    <div class="col-4">
            <br>
            <h3 style="font-family:'Times New Roman', Times, serif">Catgory:</h3>
            
            @Model.CategoryName
            <hr />
            <h3 style="font-family:'Times New Roman', Times, serif">Services:</h3>
        <br />
            <div class="border border-2"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                <path d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5M3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2m1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1" />
                </svg>          -Delivery
            </div><br />
            <div class="border border-2">
                <img width="40" height="40" src="https://img.icons8.com/flat-round/64/no-entry--v1.png" alt="no-entry--v1" /> This item is non-returnable
            </div>
            <div class="border border-2 mt-4"> 
                <img width="50" height="50" src="https://img.icons8.com/external-stickers-smashing-stocks/70/external-Pay-Money-sale-and-cashback-refund-stickers-smashing-stocks.png" alt="external-Pay-Money-sale-and-cashback-refund-stickers-smashing-stocks" />
                Cash on Delivery
            </div>
            <div class="mt-4">
                <a class="btn btn-info" onclick="createdata(@Model)">Add to cart</a>
            </div>
        </div>
        
</div>
</div>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body d-flex justify-content-between">
            <p class="fs-6 text-light">Sucessfully Added to Cart</p>
            <a class="btn btn-info" asp-controller="Cart" asp-action="ViewCart" asp-route-userid="@UserManager.GetUserId(User)">Go to Cart</a>
        </div>
    </div>
</div>


<script>
    function showToast() {
        var toastElement = new bootstrap.Toast(document.getElementById('liveToast'));
        toastElement.show();
    }
    var ReadProductVM = @Html.Raw(Json.Serialize(Model));
    function createdata(obj) {
        console.log(obj);
        submitform(obj);
    }

    function submitform(obj) {
        console.log(obj);
        $.ajax({
            url: "/Cart/AddtoCart",
            type: "POST",
            data: obj,
            success: function (data) {

                showToast();
                console.log(data);
            },
            error: function (err) {
                console.error(err);
            }
        });
    }
   

</script>