@model ReadProductVM;
<div  class="btn btn-dark"><a asp-controller="Home" asp-action="Index">Back To Products</a></div>
<div class="container border border-3" style="background-color:azure">
<div class="row">
    <div class="col-4">
            <img src="@Url.Content($"~/Product/{Model.imageLink}")" alt="@Model.ProductName" class="img-fluid" style="height:400px; " />
    </div>
    <div class="col-4" style="background-color:azure">
        <div>   
            <div>
                <a class="btn btn-outline-success" onclick="createdata(@Model)">Add to cart</a>
            </div>
        <h3 style="font-family:'Times New Roman', Times, serif">@Model.ProductName</h3>
             <h4>Description:</h4>
            @Model.ProductDescription
        </div>
        <div>
            <a>add</a>
        </div>
        
    </div>
    
    <div class="col-4">
            <br>
            <h3 style="font-family:'Times New Roman', Times, serif">Catgory:</h3>
            
            @Model.CategoryName
            <hr />
            <h3 style="font-family:'Times New Roman', Times, serif">Services:</h3>
        <br />
            <div class="border border-2"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                <path d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5M3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2m1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1" />
                </svg>          -Delivery
            </div><br />
            <div class="border border-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
            </svg> This item is returnable </div>
    </div>

</div>
</div>
<script>
    var ReadProductVM = @Html.Raw(Json.Serialize(Model));
    function createdata(obj) {
        console.log(obj);
        submitform(obj);
    }

    function submitform(obj) {
        console.log(obj);
        $.ajax({
            url: "/Cart/AddtoCart",
            type: "POST",
            data: obj,
            success: function (data) {
                alert(data['productName']);

                console.log(data);
            },
            error: function (err) {
                console.error(err);
            }
        });
    }

</script>