@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model List<Ecommerce.ViewModel.ViewCart_itemVM>

<h1 class="row-3 px-4">Confirmed Items</h1>
<table class="table table-bordered table-striped ">
    <thead class="text-bg-dark">
        <tr>
            <th>
                ProductName
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Basic Total
            </th>
            

        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach(var obj in Model)
        {
            <tr>


                <td>
                   @obj.productname
                   
                </td>
                <td>
                   @obj.quantity
                </td>
                <td>
                   @obj.ProductPrice
                </td>
                <td>

                    @(obj.ProductPrice * obj.quantity)
                </td>
               

            </tr>
            
        }
    </tbody>
</table>
<div class="d-flex justify-content-between">
    @if(@Model!=null)
    {
        <h1>Total:@Model.FirstOrDefault().total</h1>
    }
    else
    {
        <h1>Total:0</h1>
    }

    <a class="btn btn-info justify-content-center border border-1" onclick="showPopup()"><img width="20" height="20" src="https://img.icons8.com/material/24/shopping-basket-success.png" alt="shopping-basket-success" />Check out </a>
    <a class="btn btn-info" asp-controller="Cart" asp-action="ViewCart" asp-route-userid="@UserManager.GetUserId(User)">CANCEL ORDER</a>
</div>
<div id="myModal" class="modal modal-fullscreen-xl-down" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter the Details:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border p-3 mt-4 ">
                <input type="tel" id="mobileNumber" name="mobileNumber" class="mb-3 row" pattern="[0-9]{10}" maxlength="10" placeholder="Enter your mobile Number" required>
                <select class="form-select mb-3 row" id="shippingCompaniesSelect" name="shippingCompanies"> </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="checkout('@UserManager.GetUserId(User)')">Confirm the Order</button>
            </div>
        </div>
    </div>
</div>


<script>

    function showPopup() {
        debugger
        const modalContent = document.getElementById('modalContent');
        const myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
        fetchaddress();
    }

    function fetchaddress() {
        debugger
        $.ajax({
            url: "/Order/provideaddress",
            type: "GET",
            success: function (data) {
                $('#shippingCompaniesSelect').empty();
                const res=JSON.parse(data)
                console.log("Data received:", res);
                for(let i=0;i<res.length;i++)
                {
                    console.log(res[i]);
                    $('#shippingCompaniesSelect').append($('<option>', {
                        value: res[i].id,
                        text: res[i].address
                    }));
                }
               
            },
            error: function (err) {
                console.error("Error fetching data:", err);
            }
        });
    }
    function checkout(userid) {
        var number = $('#mobileNumber').val();
        var address = $('#shippingCompaniesSelect').val();
        console.log(typeof(number));
        console.log(typeof(address));
        console.log(typeof(userid));

        $.ajax({
            url: "/Order/PlaceOrder",
            type: "GET",
            data: {
                userid: userid,
                number: number,
                address: address
            },
            success: function (data) {
                console.log(data);
                $('#myModal').modal('hide')
                window.location.href = "/Home/Index";
                // Check for a success response and redirect if needed
                if (data.success) {
                    $('#myModal').modal('hide')
                    window.location.href = "/Home/Privacy";
                } else {
                    console.error("Order placement failed:", data.message);
                }
            },
            error: function (err) {
                console.error(err);
            }
        });

    }
    

   
    
</script>
