@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model List<Ecommerce.ViewModel.ViewCart_itemVM>

<h1 class="row-3 px-4">Confirmed Items</h1>
<table class="table table-bordered table-striped ">
    <thead class="text-bg-dark">
        <tr>
            <th>
                ProductName
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Basic Total
            </th>
            

        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach(var obj in Model)
        {
            <tr>


                <td>
                   @obj.productname
                   
                </td>
                <td>
                   @obj.quantity
                </td>
                <td>
                   @obj.ProductPrice
                </td>
                <td>

                    @(obj.ProductPrice * obj.quantity)
                </td>
               

            </tr>
            
        }
    </tbody>
</table>
<div class="d-flex justify-content-between">
<h1>Total:@Model.FirstOrDefault().total</h1>
    <a class="btn btn-info justify-content-center border border-1"><img width="20" height="20" src="https://img.icons8.com/material/24/shopping-basket-success.png" alt="shopping-basket-success" />Check out </a>
    <a class="btn btn-info" asp-controller="Cart" asp-action="ViewCart" asp-route-userid="@UserManager.GetUserId(User)">GO Back</a>
</div>
<script>
    
</script>
