@using Microsoft.AspNetCore.Identity
@using Ecommerce.Models
@using Ecommerce.Services.Interface
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model List<Ecommerce.ViewModel.ViewCart_itemVM>
<h1>Your Cart
<img width="50" height="50" src="https://img.icons8.com/ios/50/shopping-cart.png" alt="shopping-cart" /></h1>

<table class="table table-bordered table-striped ">
    <thead class="text-bg-dark">
        <tr>
            <th>
               Photo
            </th>
            <th>
                ProductName
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
           
        </tr>
    </thead>
    <tbody class="bg-white">
      
        @foreach(var obj in Model){
            <tr id="item_@obj.Cart_itemId">
                

                <td>
                    <img src="@Url.Content($"~/Product/{obj.imgLink}")"  class="img-fluid" style="height:100px; " />
                </td>
                <td>
                    @obj.productname
                </td>
                <td class="d-flex align-items-center">
                    <button id="minusbtn_@obj.Cart_itemId" class="btn btn-outline-info p-3 px-4" style="font-size:1rem" onclick="minus(@obj.Cart_itemId)"><img width="25" height="25" src="https://img.icons8.com/ios/50/minus.png" alt="minus" /></button>
                    <span class="mx-2 fs-4  p-3 px-4" id="quantity_@obj.Cart_itemId"> @obj.quantity</span>
                    <button id="plusbtn_@obj.Cart_itemId" class="btn btn-outline-info p-3 px-4" onclick="plus(@obj.Cart_itemId)"><img width="25" height="25" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus--v1" /></button>
                </td>
                <td>
                    @obj.ProductPrice
                </td>
                <td>
                    <button class="btn btn-danger" id="deleteitem" onclick="deleteitem(@obj.Cart_itemId)"><img width="25" height="25" src="https://img.icons8.com/ios/50/trash--v1.png" alt="trash--v1" />Delete</button>
                </td>
                
            </tr>
        }
    </tbody>
    
</table>
<div class="fs-4 d-flex">
  Total:
      @if(Model.Count()==0)
        {
         <p>0</p>   
        }
        else
        {
           <p id="totalamount">@Model.First().total</p>
        }
    
</div>
@if (Model.Count()!=0)
{
    <a id="buycart"  class="btn btn-primary" asp-controller="Cart" asp-action="BuyCart" >Buy the Cart</a>
}
else
{
    <h2 id="ifnull">Cart is Empty</h2>
}

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Delete</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Sucessfully Deleted..
        </div>
    </div>
</div>
<script>
   
    function minus(cart_itemid)
    {
      debugger
        $.ajax({
            url: "/Cart/Minuscart_item",
            type:"POST",
            data:{cart_itemid:cart_itemid},
            success:function(data)
            {
                $("#quantity_" + cart_itemid).text(data.quantity);
                
                if (data.total == "0") {
                    $("#totalamount").text(data.total);
                    $("#ifnull").text("Cart Empty");
                    $("#buycart").hide();

                } else {
                    $("#totalamount").text(data.total);
                }
            },
            error: function (err) {
                console.error(err);
            }
        });
    }
    function plus(cart_itemid)
    {
        debugger
        $.ajax({
            url: "/Cart/pluscart_item",
            type: "POST",
            data: { cart_itemid: cart_itemid },
            success: function (data) {
                console.log(data);
                $("#quantity_" + cart_itemid).text(data.quantity);
                if (data.total == "0"|| data.quantity==0) {
                    $("#totalamount").text(data.total);
                   
                   
                    $("#ifnull").text("Cart Empty");
                } else {
                    $("#totalamount").text(data.total);
                    $("#buycart").show();
                }
            },
            error: function (err) {
                console.error(err);
            }
        });
    }
    function showToast() {
        var toastElement = new bootstrap.Toast(document.getElementById('liveToast'));
        toastElement.show();
    }
    function deleteitem(cart_itemid)
    {
        debugger
        $.ajax({
            url: "/Cart/DeleteCart_item",
            type: "POST",
            data: { cart_itemid: cart_itemid },
            success: function (data) {
                $("#item_" + data.cartitem_id).remove();
                showToast();
                if (data.total == "0") {
                    $("#totalamount").text(data.total);
                    $("#ifnull").text("Cart Empty");
                    $("#buycart").hide();
                } else {
                    $("#totalamount").text(data.total);
                   
                }
            },
            error: function (err) 
            {
                console.error(err);
            }
        });
    }

    
</script>